# Expo
.expo/
.expo-shared/
dist/
web-build/

# Node
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store

# Environment
.env
.env.local

# IDE
.idea/
*.swp
*.swo

# Logs
logs/
*.log

# Build
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Firebase
google-services.json
GoogleService-Info.plist

# Testing
coverage/
.jest/
